body {
  background: #6bcaed;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: #ffffff;
  transition: all 200ms;
}
a:hover {
  color: #6bcaed;
}
.app {
  display: flex;
  padding: 20px;
}
.container {
  width: 400px;
}
iframe {
  margin-left: 20px;
  flex: 1;
  height: 800px;
  border: none;
  border-radius: 5px;
}

.group {
  padding: 20px;
  border-radius: 5px;
  color: #fff;
  background: #364569;
  border: dashed 1px #35495e;
  box-shadow: 6px 8px 20px 3px rgba(0, 0, 0, 0.3);
}
.group:not(:first-child) {
  margin-top: 20px;
}
.group-name {
  margin-top: -15px;
  margin-bottom: 20px;
  border-bottom: solid 1px #6bcaed;
  font-weight: bold;
  color: #6bcaed;
  line-height: 3;
}

.repository-item {
  display: flex;
  margin-top: 15px;
  min-width: 200px;
}
.repository-item .item-name {
  margin-right: auto;
}
.repository-item .item-url {
  margin-left: 15px;
  display: inline-block;
}

.link-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.link-item-container a {
  margin-top: 15px;
  flex-basis: 50%;
}
